---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects_en");
---
<BaseLayout title="Projects" lang="en">
  <h2>Projects</h2>
  <ul>
    {projects.map((p) => (
      <li>
        <a href={`/en/projects/${p.slug}/`}>{p.data.title}</a><br/>
        <small>{p.data.year}</small><br/>
        {p.data.summary}
      </li>
    ))}
  </ul>
</BaseLayout>
