---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";
const { slug } = Astro.params;
const project = await getEntryBySlug("projects_no", slug);
const { Content } = await project.render();
---
<BaseLayout title={project.data.title} lang="no">
  <p><strong>{project.data.role}</strong> · {project.data.year}</p>
  <p>{project.data.tags.join(", ")}</p>
  <Content />
</BaseLayout>
